.grid-row{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0px 15px;
}

.grid-row.arrival, .grid-row.departure{
    grid-template-areas: 
    'date time'
    'location location';
}

.date{
    grid-area: date;
}

.time{
    grid-area: time;
}

.location{
    grid-area: location;
}

@media only screen and (max-width: 600px){
	.grid-row{
		grid-template-columns: 100%;
	}
	
	.grid-row.arrival, .grid-row.departure{
		grid-template-areas: 'date'
							 'time'
							'location';
	}
	
	.serviceDetailsForm{
		width: 95%;
	}
}

